<%= render 'sidebar' %>

<div class="main">
  <%= render 'work2' %>
  <hr class="divider">
  <%= render 'recent_post' %>
  <hr class="divider"/>
  <%= render 'work' %>
  <hr class="divider"/>
  <%= render 'about' %>
  <hr class="divider"/>
  <%= render 'contact' %>
</div>
